<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ title | translate("page-title", "Page title") }}</title>
{% if description %}
  <meta name="description" content="{{ description | translate("page-description", "Page description") }}">
{% endif %}
<link rel="canonical" href="{{ get_canonical_url(page) }}">
