<div class="navbar bg-primary">
  <div class="navbar-container">
    <a href="index" class="navbar-branding float-start">
      <img src="/img/png/eyeo-logo.png" srcset="/img/svg/eyeo-logo.svg 2x" alt="eyeo">
    </a>

    <button class="toggle-navbar-collapse button-link float-end">
      Toggle Menu
    </button>

    <nav class="navbar-nav navbar-collapse">
      <ul>
        <li><a href="index">Navbar Menu Link</a></li>
        <li><a href="index">Navbar Menu Link</a></li>
        <li><a href="index">Navbar Menu Link</a></li>
        <li><a href="index">Navbar Menu Link</a></li>
      </ul>
    </nav>
  </div>
</div>
