<!DOCTYPE html>
<html
  lang="{{ locale }}"
  dir="{{ "rtl" if config.has_option("rtl", locale) else "ltr" }}">
  <head>
    <? include meta/standard ?>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/demo.css">
  </head>
  <body>
    <div class="container">
      {{ body | safe }}
    </div>
  </body>
</html>
